TheWineSociety.FunctionalTests/TheWineSociety.FunctionalTests/bin/Debug/*
TheWineSociety.FunctionalTests/TheWineSociety.FunctionalTests/obj/Debug/*
TheWineSociety.FunctionalTests/TheWineSociety.FunctionalTests/packages/*
TheWineSociety.FunctionalTests/.vs/TheWineSociety.FunctionalTests/v16
*.ide*

