<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

<appSettings>

	<!--  executionMode  - local or bs  -->
	<add key="executionMode" value="local" />
	
	<!--Local Run configuration Details-->
	<add key="environment" value="DEV" />
	<add key="browser" value="CHROME" />	
	
	<!--Browser Stack configuration Details-->
	<add key="server" value="hub-cloud.browserstack.com" />
	<add key="bsUserName" value="murthykanuri5" />
	<add key="bsPassword" value="X1Cw9XoskXhiScbnPpr4" />
	<add key="bsBrowser" value="firefox" />
	
</appSettings>		
  <runtime>		
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">		
            <dependentAssembly>		
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />		
                 <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />		
            </dependentAssembly>		
       </assemblyBinding>		
  </runtime>
</configuration>





