<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>


<appSettings>
	<!--Local Run configuration Details-->
	<add key="environment" value="DEV" />
	<add key="browser" value="CHROME" />

	<!--executionMode  - local or bs -->
	<add key="executionMode" value="bs" />
	
	<!--Browser Stack configuration Details-->
	<add key="server" value="hub-cloud.browserstack.com" />
	<add key="bsBrowser" value="Firefox" />
	<add key="bsUserName" value="andy1058" />
	<add key="bsPassword" value="XqaJzQdeBDMSBECsqkn7" />
</appSettings>		
  <runtime>		
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">		
            <dependentAssembly>		
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />		
                 <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />		
            </dependentAssembly>		
       </assemblyBinding>		
  </runtime>
</configuration>





